.spice-starter-sites-importer-button.button-primary{
    margin: 30px 5px;
    padding: 8px 30px;
}
#myDiv,#myDivs2 {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}
.spice-starter-sites-importer-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.block-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media(min-width:600px) {
    .block-container {
        max-width: 600px;
    }
}

@media(min-width:768px) {
    .block-container {
        max-width: 768px;
    }
}

@media(min-width:992px) {
    .block-container {
        max-width: 992px;
    }
}

@media(min-width:1200px) {
    .block-container {
        max-width: 1200px;
    }
}

.block-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.block-col-2,
.block-col-3,
.block-col-4,
.block-col-5,
.block-col-6,
.block-col-7,
.block-col-8,
.block-col-9 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .block-col-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .block-col-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .block-col-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .block-col-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .block-col-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .block-col-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .block-col-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .block-col-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .block-col-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

@media (min-width: 576px) {
    .block-col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.block-col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 1;
    max-width: 50%;
}
.action-link.button {
    float: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 0 10px;
  margin: 12px auto;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255,  0.6); 
}

#spice-starter-sites-importer-dashboard h3.spice-starter-sites-importer-heading,
.spice-starter-sites-importer-dashboard h3.spice-starter-sites-importer-heading{
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000;
    margin-top: 30px;
    text-align: center;
}
#spice-starter-sites-importer-dashboard .sss_template.open h3.spice-starter-sites-importer-heading{color: #fff;}
#spice-starter-sites-importer-dashboard p,.spice-starter-sites-importer-loader p{
    font-size: 18px;
}

#spice-starter-sites-importer-dashboard li{
    font-size: 16px;
    padding: 10px;
}
#spice-starter-sites-importer-dashboard li::marker{
    font-weight: 500;
}
.theme_info.info-tab-content .dashicons.dashicons-yes{
    color: #0d810d;
    font-size: 28px;
}

/* -------------------------------- 
  Spice Starter Sites Importer Popup 
-------------------------------- */
.spice-starter-sites-importer-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 999999;
}
.spice-starter-sites-importer-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.spice-starter-sites-importer-popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 53px 42px;
    width: 90%;
    max-width: 366px;
    background: #f3f9f9;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.spice-starter-sites-importer-popup-container p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    color: #000000;
    text-transform: capitalize;
    margin: 0 0 20px 0;
}

.spice-starter-sites-importer-popup-container .spice-starter-sites-importer-buttons li {
    margin: 0;
  }

.spice-starter-sites-importer-popup-container .spice-starter-sites-importer-buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0;
}
.spice-starter-sites-importer-popup-container .spice-starter-sites-importer-buttons a {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    width: 140px;
    height: 50px;
    line-height: 50px;
    border-radius: 6px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.spice-starter-sites-importer-popup-container .spice-starter-sites-importer-buttons li:first-child a {
    background: #008D7F;
    color: #fff;
}
.no-touch .spice-starter-sites-importer-popup-container .spice-starter-sites-importer-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.spice-starter-sites-importer-popup-container .spice-starter-sites-importer-buttons li:last-child a { 
    background: #9CB3B0;
     color: #fff;
}
.spice-starter-sites-importer-popup-container .spice-starter-sites-importer-buttons li a:hover{
    background: #2a2136; 
     color: #fff;
} 
.spice-starter-sites-importer-popup-container .spice-starter-sites-importer-popup-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 50%;
}
.spice-starter-sites-importer-popup-container .spice-starter-sites-importer-popup-close::before, .spice-starter-sites-importer-popup-container .spice-starter-sites-importer-popup-close::after {
    content: '';
    position: absolute;
    top: 9px;
    width: 10px;
    height: 2px;
    background-color: #000000;
}
.spice-starter-sites-importer-popup-container .spice-starter-sites-importer-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 5.5px;
}
.spice-starter-sites-importer-popup-container .spice-starter-sites-importer-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 4.5px;
}

#spice-starter-sites-importer-dashboard .block-container,.spice-starter-sites-importer-dashboard .theme_info .block-row{
    background: #fff;
    border: 1px solid #00a32a;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    padding: 5px 12px;
    margin-top: 30px;
}
.spice-starter-sites-importer-button.button-primary {
    border-color: #ff495c;
    background: #ff495c;
    color: #FFFFFF;
}

.spice-starter-sites-importer-button.button-primary:hover,.spice-starter-sites-importer-button.button-primary:focus {
     border-color: #2a2136; 
    background: #2a2136; 
     color: #fff;
}
 .spice-starter-sites-importer-dashboard .block-col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 1;
    max-width: 100%;
}
.spice-starter-sites-importer-dashboard img{
    max-width: 100%;
    height: auto;
}


#spice-starter-sites-importer-dashboard .block-container{
    border: 2px solid #3a4995;
    padding: 0;
}

#spice-starter-sites-importer-dashboard li {
    font-size: 16px;
    padding: 12px 10px 12px 3px
    font-weight: 500;
    line-height: 24px;
    color: #606060;
    position: relative;
    border-bottom: 1px solid #E0E0E0;
    text-align: left;
    margin: 0;
}
#spice-starter-sites-importer-dashboard li:last-child{
    border-bottom: none
}

#spice-starter-sites-importer-dashboard p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.spice-starter-sites-importer-button.button-primary{
    border: 1px solid #001F78;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 5px 32px;
    margin: 10px 0 0 8px;
    margin-right: 17px;
    color: #ffffff !important;
    background: linear-gradient(262.98deg, #001F78 1.43%, #002FB7 98.69%);
}
.spice-starter-sites-importer-button.button-second{
    border: 1px solid #001F78;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 5px 32px;
    margin: 10px 0 0 8px;
    margin-right: 17px;
    color: #ffffff !important;
    background:linear-gradient(262.98deg, #cbd2e6 1.43%, #6c91fa 98.69%);
}
.spice-starter-sites-importer-button.button-second:is(:hover, :focus){
    opacity: 0.8;
}
.spice-starter-sites-importer-button.button-primary:is(:hover, :focus){
    color: #ffffff !important;
    background: linear-gradient(262.98deg, #002FB7 1.43%, #001F78 98.69%);
    border: 1px solid #008D7F;
}
.spice-starter-sites-importer-button.button-primary.disabled:is(:hover, :focus){color: #a7aaad!important}
.importer-header{
    background: linear-gradient(262.98deg, #001F78 1.43%, #002FB7 98.69%);
    padding: 29px 48px 29px;
}

#spice-starter-sites-importer-dashboard .importer-body {
    padding:19px 50px 49px 39px ;
}

.wrap.spice-starter-sites-importer-dashboard .importer-header {
    padding: 20px 50px 24px;
}

.spice-starter-sites-importer-dashboard .importer-header h3{
    font-size: 1.625rem;
    line-height: 1.5;
    font-weight: 700;
    margin: 0 0 5px 0;
    color: #FFFFFF;  
}
.spice-starter-sites-importer-dashboard .importer-header span{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #FFFFFF;  
    font-family: 'Poppins';
}

.wrap.spice-starter-sites-importer-dashboard .block-row{
    border: unset;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}
.wrap.spice-starter-sites-importer-dashboard .block-row .block-col-2{
    padding: 0;
    height: 500px;
    overflow: hidden;
}

.wrap.spice-starter-sites-importer-dashboard .block-row .block-col-2:nth-of-type(2){
    background: #b6c8fc1c;
}

.wrap.spice-starter-sites-importer-dashboard .importer-body{
    padding: 30px 50px;
}

.wrap.spice-starter-sites-importer-dashboard .importer-body h4{
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    color: #000000;
    font-family: 'Poppins';
    margin: 17px 0;
}

#recommended_actions table{
    margin-top: 28px;
    margin-bottom: 24px;
}
#recommended_actions table tr{
    border-radius: 6px;
}

#recommended_actions table td{
    padding: 0;
    margin: 15px auto;
}

#recommended_actions table td:first-child{
    padding-left: 30px;
}

.wrap.spice-starter-sites-importer-dashboard .importer-body p,
#recommended_actions table td{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #505050;
    font-family: 'Poppins';
 }

#recommended_actions table td a.install-now,
#recommended_actions table td a.activate-now{
    font-weight: 500;
    font-size: 12px;
    color: #505050;
    line-height: 2.33333;
    border: 1px solid #001F78;
    background-color: transparent;
    border-radius: 6px;
    padding: 0 15px;
    font-family: 'Poppins';
    min-height: 30px !important;
}

#recommended_actions table td a.install-now:is(:hover, :focus), #recommended_actions table td a.activate-now:is(:hover, :focus) {
    color: #ffffff !important;
    background: linear-gradient(262.98deg, #002FB7 1.43%, #001F78 98.69%);
    border: 1px solid #002FB7;
}

.theme_info.info-tab-content .dashicons.dashicons-yes { 
    color: #008D7F;               
    font-size: 28px;       
    margin-right: 30px;
}

.wrap.spice-starter-sites-importer-dashboard .spice-starter-sites-importer-button.button-primary {
    margin: 0;
}
.wrap.spice-starter-sites-importer-dashboard .spice-starter-sites-importer-button.button-primary:nth-child(2) {
    margin: 0;
    margin-left: 16px;
}

.news-crunch-tab-pane .spice-starter-sites-importer-button.button-primary{
margin-left: 20px;
}

#loading-image{
    max-width: 475px;
}

#myDivs{
    max-width: 420px;
    margin: 0 auto;
    background-color: #b6c8fc1c;
    border-radius: 6px;
    padding: 0 40px 60px;
    margin-top: 114px;
}

#myDivs img{
    max-width: 130px;
    height: auto;
    margin-top: -65px;
    margin-bottom: 36px;
}

#myDivs h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #000000;
    margin: 0;
}

#myDivs p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #505050;
    margin: 30px 0 42px;
}

/*#myDivs .spice-starter-sites-importer-button.button-primary{
    display: block;
    color: #FFFFFF;
    background: #008D7F;
}*/

#wpcontent {
    height: 100%;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

#spice-starter-sites-importer-dashboard .spice-starter-sites-importer-sorry-msg {
    max-width: 480px;
    padding: 0 10px 40px;
    border-radius: 6px;
    background-color: rgb(120 120 120 / 5%);
    margin-top: 26px;
}

#spice-starter-sites-importer-dashboard .spice-starter-sites-importer-sorry-msg img{
    max-width: 100%;
    height: auto
}

#spice-starter-sites-importer-dashboard .spice-starter-sites-importer-sorry-msg span{
    display: block;
    font-size: 1.625rem;
    line-height: 1.5;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #000000; 
}
#spice-starter-sites-importer-dashboard .spice-starter-sites-importer-sorry-msg p{
    color: #000000;
}


@media (max-width:1120px){
    .wrap.spice-starter-sites-importer-dashboard .block-col-2:first-child{
        max-width: 40%;
        display: flex;
        align-items: center;
    }
    .wrap.spice-starter-sites-importer-dashboard .importer-body{
        padding: 30px 30px 52px;
    }
    .wrap.spice-starter-sites-importer-dashboard .importer-header {
        padding: 20px 30px 24px;
    }
}


@media (max-width:767px){
    .importer-header {
        background-color: #008D7F;
        padding: 29px 30px 29px;
    }
    #spice-starter-sites-importer-dashboard .importer-body {
        padding: 19px 30px 49px 20px;
    }
    .wrap.spice-starter-sites-importer-dashboard .block-container {
        max-width: 768px !important;}

    .wrap.spice-starter-sites-importer-dashboard .block-col-2:first-child{
        display: none;
    }
}

@media (max-width:447px){
     .wrap.spice-starter-sites-importer-dashboard .spice-starter-sites-importer-button.button-primary:nth-child(2) {
        margin: 0;
        margin-left: 0px;
        margin-top: 20px;
    }
}


/*Demo Pages Detail */

#sss-demo-section-inner .sss-library-content{
    padding-bottom: 15px;
}

.sss-card-details .sss-card-btn a.sss-preview{
    margin-right: 8px;
    color: #ffffff !important;
    background: linear-gradient(262.98deg, #001F78 1.43%, #002FB7 98.69%);
}

.sss-library-content .sss-back-btn a{
    text-decoration: none;
    color: #000;
}
.sss-library-content-wrapper .sss-content-section .sss-card .sss-starter-pack-inner-img{
    height:460px;
    overflow: hidden;
    background-size: 100% auto;
    transition: background-position 9s linear;
}
.sss-library-content-wrapper .sss-content-section .sss-card .sss-starter-pack-inner-img:hover{
    background-position: 0 100%;
}

.sss-library-body-wrapper .sss-library-content .sss-view-demo{
    text-align: center;
}

.sss-library-body-wrapper .sss-library-content .sss-view-demo a{
    display: block;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;
    color: #000000;
    border: 1px solid #001F78;
    width: 150px;
    height: 50px;
    margin: 20px auto;
    /* transition: 0.2s; */
}
.sss-library-body-wrapper .sss-library-content .sss-view-demo a:hover{
    color: #ffffff;
    background: linear-gradient(262.98deg, #002FB7 1.43%, #001F78 98.69%);
}

/* Business Starter demo inner pag images */
.sss-library-content-wrapper.sss-business-starter-demo .sss-content-section .sss-card .sss-starter-pack-inner-img{
/*    background-image: url(../images/demo_images/Service.jpg);*/
    transition: background-position 5s linear;
}


.sss-library-body-wrapper .sss-library-content{
    height: 100%;
    flex: 1;
    padding: 9px 15px;
    overflow: auto;
    box-sizing: border-box;
    position: relative;
}
.sss-library-body-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}
.sss-library-content-wrapper{
/*    display: flex;*/
/*    flex-wrap: wrap;*/
    /* gap: 30px; */

}
.sss-library-body-wrapper .sss-content-section.sss-starter-pack{
 max-width: 100%;
    flex-basis: 100%
 }
@media (min-width:1600px){
.sss-library-body-wrapper .sss-content-section.sss-starter-pack{
 max-width: 25%;
    flex-basis: 25%
 }}
@media (max-width:1599px) and (min-width:1101px){
.sss-library-body-wrapper .sss-content-section.sss-starter-pack{
 max-width: 33.33%;
    flex-basis: 33.33%
 }}
 @media (max-width:1100px) and (min-width:768px){
.sss-library-body-wrapper .sss-content-section.sss-starter-pack{
 max-width: 50%;
    flex-basis: 50%
 }}
 .sss-library-body-wrapper .sss-content-section.sss-starter-pack .sss-card{
    background: #F3F6FE;
    transition: 0.3s;
    position: relative;
    margin-bottom: 50px;
    margin-right: 15px;
    display: block;
    height: auto;
    width:95%;
    box-shadow: 0px 10px 15px #c3c6cd;
}
.sss-heading h4{
    font-size: 1.25rem;
    padding: 0 15px;
    color: #000;
    margin: 1em 0;
    text-transform: capitalize;
}
.sss-content-section .sss-card .sss-card-details .sss-card-btn a {
    display: inline-block;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    border: 1px solid #001F78;
    width: 75px;
    height: 27px;
    /* transition: 0.2s; */
}

.sss-card-details .sss-card-btn a.sss-spice-block-preview {
    margin-right: 17px;
    color: #ffffff !important;
    background: linear-gradient(262.98deg, #001F78 1.43%, #002FB7 98.69%);
}
.sss-card-details .sss-heading{display: inline-block;}
.sss-card-details .sss-card-btn{
    position: relative;
    padding: 15px 8px;
    display: inline-block;
    float: right;
}
.sss-library-heading h2{font-size: 1.25rem;color: #000;}
 @media (max-width:500px){.sss-card-details .sss-card-btn {float: unset;}}


 /* Open theme demo popup*/

#sss_template_1 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,0.9);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  z-index: 11111111;
}
button.sss_block_close {
    position: absolute;
    right: 0;
    z-index: 2;
    padding-right: 1rem;
    padding-top: 0.6rem;
}
.sss_template .sss_block_close {
  position: fixed;
    top: 2.938rem;
    right: 0.938rem;
    color: #000000;
    background-color: #ffffff;
    opacity: 1;
    padding: 0.625rem 1.063rem;
    font-size: 1rem;
    z-index: 11111;
    cursor: pointer;
    font-weight: 600;
}
.sss_template i{
    padding-right: 5px;
  }
#sss_template_1.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}
.invisible{
     visibility: hidden;
}
.stater-badge{float: right;padding: 18px;position: relative;}
.sss-main #wpfooter {position: relative;}
@media (max-width:500px){.stater-badge {float: unset;padding: 0px 14px 14px;}}
.sss_template .sss_block_close:hover{
    color: #ffffff !important;
    background: linear-gradient(262.98deg, #001F78 1.43%, #002FB7 98.69%);
}
.stater-badge-new{
    position: absolute;
    bottom: 222px;
}
/* Business Starter demo inner pag images */


.sss-card-details {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-block: 10px;
    min-height: 70px;
}
.tabs {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.tab-button {
    padding: 14px 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.tab-button:hover,
.tab-button.active {
    background-color: #555;
}

.tab-content {
    padding-block: 20px;
    display: flex;
    flex-wrap: wrap;
}

.tab-item {
    display: none; /* All items are hidden initially */
}

.tab-item.show {
    display: block; /* Show items when 'show' class is added */
}

/* Responsive design */
@media (max-width: 600px) {
    .tabs {
        flex-direction: column;
    }

    .tab-button {
        width: 100%;
        text-align: left;
    }
}
body.admin_page_spice-settings-importer{
   background-color: #fff;
}
body.admin_page_spice-settings-importer #wpbody-content {
    padding-bottom: 65px;
    float: left;
    width: 100%;
    overflow: visible;
}
.sss-library-body-wrapper .sss-content-section.sss-starter-pack .sss-card.new:before{
    content:url('../images/new2.png');
    position: absolute;
    top: 35px;
    right: -7px;
}